* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  display: inline-block;
  width: 100%;
}
body,
div,
span,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
h6,
i,
b,
textarea,
button,
input,
select,
figure,
figcaption {
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #666;
  box-sizing: border-box;
  font-weight: lighter;
  font-family: Arial, 'Hiragino Sans GB', Microsoft Yahei, Helvetica Neue, Helvetica, sans-serif !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
body:focus,
div:focus,
span:focus,
header:focus,
footer:focus,
nav:focus,
section:focus,
aside:focus,
article:focus,
ul:focus,
dl:focus,
dt:focus,
dd:focus,
li:focus,
a:focus,
p:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
h6:focus,
i:focus,
b:focus,
textarea:focus,
button:focus,
input:focus,
select:focus,
figure:focus,
figcaption:focus {
  outline: none;
}
.floatLeft {
  float: left;
}
.floatRight {
  float: right;
}
img {
  height: 100%;
  width: 100%;
}
.row {
  width: 100%;
  height: 2rem;
  padding: 0.3333333333333333rem;
  border-top: #D9D9D9 1px solid;
  background-color: #FFFFFF;
}
.row[borderTopWidth='0'] {
  border-top: 0;
}
.row:last-child {
  border-bottom: #D9D9D9 1px solid;
  margin-bottom: 0.6333333333333333rem;
}
.row:first-child {
  border-top: 0 !important;
}
.col {
  float: left;
  height: 1.3333333333333333rem;
}
.col-middle {
  line-height: 1.3333333333333333rem;
}
.col-2 {
  width: 20%;
}
.col-4 {
  width: 40%;
}
.col-6 {
  width: 60%;
}
.col-8 {
  width: 80%;
}
.col-10 {
  width: 100%;
}
.textCenter {
  text-align: center;
}
.headerPic {
  max-width: 1.3333333333333333rem;
  max-height: 1.3333333333333333rem;
}
.padding10 {
  padding: 0 0.33333333rem;
}
