@lightTextColor: rgb(70, 191, 24);
@textColor: rgb(151, 151, 151);

// color
@weuiColorPrimary: #1AAD19;
@weuiColorWarn: #E64340;

// link
@weuiLinkColorDefault: #586C94;

// background
@weuiBgColorDefault: #EFEFF4;
@weuiBgColorActive: #ECECEC;

// line
@weuiLineColorLight: #E5E5E5;
@weuiLineColorDark: #BCBAB6;

// text
@weuiTextColorTitle: #000000;
@weuiTextColorTips: #B2B2B2;
@weuiTextColorWarn: @weuiColorWarn;
@weuiTextColorGray: #999999;

@menuPic: '/static/wx_base.png';

@import "./func";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  display: inline-block;
  width: 100%;
}

body, div, span, header, footer, nav, section, aside, article, ul, dl, dt, dd, li, a, p, h1, h2, h3, h4, h5, h6, i, b, textarea, button, input, select, figure, figcaption {
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #666;
  box-sizing: border-box;
  font-weight: lighter;
  font-family: Arial, 'Hiragino Sans GB', Microsoft Yahei, Helvetica Neue, Helvetica, sans-serif !important;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body:focus, div:focus, span:focus, header:focus, footer:focus, nav:focus, section:focus, aside:focus, article:focus, ul:focus, dl:focus, dt:focus, dd:focus, li:focus, a:focus, p:focus, h1:focus, h2:focus, h3:focus, h4:focus, h5:focus, h6:focus, i:focus, b:focus, textarea:focus, button:focus, input:focus, select:focus, figure:focus, figcaption:focus {
  outline: none;
}

.floatLeft {
  float: left;
}

.floatRight {
  float: right;
}

img {
  height: 100%;
  width: 100%;
}

.row {
  .setColWidth(10);
  height: 60px;
  padding: 10px;
  border-top: #D9D9D9 1px solid;
  background-color: #FFFFFF;
}

// 没有上边框
.row[borderTopWidth = '0'] {
  border-top: 0;
}

.row:last-child {
  border-bottom: #D9D9D9 1px solid;
  margin-bottom: 19px;
}

.row:first-child {
  border-top: 0 !important;
}

.col {
  .setFloat(left);
  height: 40px;
}

.col-middle {
  line-height: 40px;
}

.col-2 {
  .setColWidth(2);
}

.col-4 {
  .setColWidth(4);
}

.col-6 {
  .setColWidth(6);
}

.col-8 {
  .setColWidth(8);
}

.col-10 {
  .setColWidth(10);
}

.textCenter {
  .setTextAlign(center);
}

.headerPic {
  max-width: 40px;
  max-height: 40px;
}

.padding10 {
  .setPadding(10px);
}
